<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <!-- link CSS -->
    <link rel="stylesheet" type="text/css" href="../Assests/CSS/todoNotDone.css"> 
    <!-- link jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- link JS -->
    <script src="../Assests/JS/todo.js" defer></script>
    <!-- add a favicon  -->
    <link rel="icon" href="../Assests/img/favicon.png" type="image/icon type">
    <!-- icons lib -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div id="myDIV" class="header">
        <i class="fas fa-sign-out-alt" onclick="window.location.href='login.html'"></i>
        <h2 style="margin:5px">My To Do List</h2>
        <input type="text" id="myInput" placeholder="Add a task...">
        <span onclick="newElement()" class="addBtn">Add</span>
    </div>
    <ul id="myUL">
        <!-- list data -->
    </ul>
</body>
</html>